.DS_Store
node_modules
/build
/.svelte-kit
/package
.idea
.vscode

# Playwright testing
/test-results
/playwright-report

# Not redistribuable
static/fonts/NeueHaasGroteskDisplay
static/fonts/NeueHaasGroteskText
