/**
 * Neue Haas is only available on the prod server.
 *
 *
 */

/* Neue Haas Grotesk - Display */

@font-face {
	font-display: swap;
	font-family: "Neue Haas Grotesk Display";
	font-weight: 100;
	src: url("./NeueHaasGroteskDisplay/15.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Neue Haas Grotesk Display";
	font-style: italic;
	font-weight: 100;
	src: url("./NeueHaasGroteskDisplay/16.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Neue Haas Grotesk Display";
	font-weight: 200;
	src: url("./NeueHaasGroteskDisplay/25.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Neue Haas Grotesk Display";
	font-style: italic;
	font-weight: 200;
	src: url("./NeueHaasGroteskDisplay/26.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Neue Haas Grotesk Display";
	font-weight: 300;
	src: url("./NeueHaasGroteskDisplay/35.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Neue Haas Grotesk Display";
	font-style: italic;
	font-weight: 300;
	src: url("./NeueHaasGroteskDisplay/36.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Neue Haas Grotesk Display";
	font-weight: 400;
	src: url("./NeueHaasGroteskDisplay/45.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Neue Haas Grotesk Display";
	font-style: italic;
	font-weight: 400;
	src: url("./NeueHaasGroteskDisplay/46.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Neue Haas Grotesk Display";
	font-weight: 500;
	src: url("./NeueHaasGroteskDisplay/55.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Neue Haas Grotesk Display";
	font-style: italic;
	font-weight: 500;
	src: url("./NeueHaasGroteskDisplay/56.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Neue Haas Grotesk Display";
	font-weight: 600;
	src: url("./NeueHaasGroteskDisplay/65.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Neue Haas Grotesk Display";
	font-style: italic;
	font-weight: 600;
	src: url("./NeueHaasGroteskDisplay/66.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Neue Haas Grotesk Display";
	font-weight: 700;
	src: url("./NeueHaasGroteskDisplay/75.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Neue Haas Grotesk Display";
	font-style: italic;
	font-weight: 700;
	src: url("./NeueHaasGroteskDisplay/76.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Neue Haas Grotesk Display";
	font-weight: 900;
	src: url("./NeueHaasGroteskDisplay/95.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Neue Haas Grotesk Display";
	font-style: italic;
	font-weight: 900;
	src: url("./NeueHaasGroteskDisplay/96.woff2") format("woff2");
}

/* Neue Haas Grotesk - Text */

@font-face {
	font-display: swap;
	font-family: "Neue Haas Grotesk Text";
	font-weight: 400;
	src: url("./NeueHaasGroteskText/55.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Neue Haas Grotesk Text";
	font-style: italic;
	font-weight: 400;
	src: url("./NeueHaasGroteskText/56.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Neue Haas Grotesk Text";
	font-weight: 500;
	src: url("./NeueHaasGroteskText/65.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Neue Haas Grotesk Text";
	font-style: italic;
	font-weight: 500;
	src: url("./NeueHaasGroteskText/66.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Neue Haas Grotesk Text";
	font-weight: 700;
	src: url("./NeueHaasGroteskText/75.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Neue Haas Grotesk Text";
	font-style: italic;
	font-weight: 700;
	src: url("./NeueHaasGroteskText/76.woff2") format("woff2");
}

/* Source Serif Pro */

@font-face {
	font-display: swap;
	font-family: "Source Serif Pro";
	font-weight: 400;
	src: url("./SourceSerifPro/latin-400-normal.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Source Serif Pro";
	font-style: italic;
	font-weight: 400;
	src: url("./SourceSerifPro/latin-400-italic.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Source Serif Pro";
	font-weight: 600;
	src: url("./SourceSerifPro/latin-600-normal.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Source Serif Pro";
	font-style: italic;
	font-weight: 600;
	src: url("./SourceSerifPro/latin-600-italic.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Source Serif Pro";
	font-weight: 700;
	src: url("./SourceSerifPro/latin-700-normal.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Source Serif Pro";
	font-style: italic;
	font-weight: 700;
	src: url("./SourceSerifPro/latin-700-italic.woff2") format("woff2");
}
